.header{
    background-color: #1C2B35;
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.header a{
    text-decoration: none;
    margin-left: 36px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}
.header a:hover{
    color: orange;
}